<ion-header>
  <ion-toolbar>
    <ion-title>
      Minhas Tarefas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card
    *ngFor="let tarefa of tarefas">

    <ion-card-header>

      <ion-card-title>
        {{ tarefa.titulo }}
      </ion-card-title>

    </ion-card-header>

    <ion-card-content>

      <p>
        {{ tarefa.descricao }}
      </p>

      <ion-chip color="success">
        {{ tarefa.status }}
      </ion-chip>
<ion-button
  *ngIf="tipoUsuario === 'Profissional'"
  color="warning"
  expand="block"
  (click)="editarTarefa(tarefa.id)">

  Editar

</ion-button>
<ion-button
  *ngIf="tipoUsuario === 'Profissional'"
  color="danger"
  (click)="excluirTarefa(tarefa.id)">

  Excluir

</ion-button>
<ion-button
  *ngIf="
    tipoUsuario === 'Aprendiz' &&
    tarefa.status === 'em_andamento'
  "
  color="success"
  (click)="enviarSolucao(tarefa.id)">

  Enviar Solução

</ion-button>
    </ion-card-content>
    
  </ion-card>

</ion-content>