<ion-header>
  <ion-toolbar>
    <ion-title>
      Minhas Tarefas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let tarefa of tarefas">

    <ion-card-header>

      <ion-card-title>
        {{ tarefa.titulo }}
      </ion-card-title>

    </ion-card-header>

    <ion-card-content>

      <p>
        {{ tarefa.descricao }}
      </p>

      <ion-chip color="success">
        {{ tarefa.status }}
      </ion-chip>

      <div *ngIf="tarefa.entrega &&
tipoUsuario=== 'Profissional'">

        <p>
          <strong>Aprendiz:</strong>
          {{ tarefa.entrega.aprendizNome }}
        </p>

        <p>
          <strong>Solução:</strong>
          {{ tarefa.entrega.codigo }}
        </p>
        <p>
          <strong>Link da solução:</strong>
          {{ tarefa.entrega.github }}
        </p>

      </div>

      <ion-button *ngIf="
    tipoUsuario === 'Profissional' &&
    tarefa.status === 'em_revisao'
  " color="success" expand="block" (click)="aprovarEntrega(tarefa)">

        Aprovar

      </ion-button>

      <ion-button *ngIf="
    tipoUsuario === 'Profissional' &&
    tarefa.status === 'em_revisao'
  " color="danger" expand="block" (click)="reprovarEntrega(tarefa)">

        Reprovar

      </ion-button>
      <ion-button *ngIf="tipoUsuario === 'Profissional'" color="warning" (click)="editarTarefa(tarefa.id)">

        Editar

      </ion-button>

      <ion-button *ngIf="tipoUsuario === 'Profissional'" color="danger" (click)="excluirTarefa(tarefa.id)">

        Excluir

      </ion-button>
      <ion-button *ngIf="
    tipoUsuario === 'Aprendiz' &&
    tarefa.status === 'em_andamento'
  " color="success" (click)="enviarSolucao(tarefa.id)">

        Enviar Solução

      </ion-button>
    </ion-card-content>

  </ion-card>
  
</ion-content>