<ion-tabs>

  <ion-router-outlet></ion-router-outlet>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">

      <ion-icon name="home"></ion-icon>

      <ion-label>
        Home
      </ion-label>

    </ion-tab-button>

    <ion-tab-button tab="tarefas">

      <ion-icon name="list"></ion-icon>

      <ion-label>
        Tarefas
      </ion-label>

    </ion-tab-button>

    <ion-tab-button tab="ranking">

      <ion-icon name="trophy"></ion-icon>

      <ion-label>
        Ranking
      </ion-label>

    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>