<ion-header>
  <ion-toolbar color="primary">
     <ion-buttons slot="start">
      <ion-button (click)="voltar()">
        Seta Voltar
      </ion-button>
    </ion-buttons>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form (ngSubmit)="cadastrar()">

    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input
        [(ngModel)]="nome"
        name="nome"
        required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input
        type="email"
        [(ngModel)]="email"
        name="email"
        required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input
        type="password"
        [(ngModel)]="senha"
        name="senha"
        required
        minlength="6">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Tipo de Usuário</ion-label>
      <ion-select
        [(ngModel)]="tipo_usuario"
        name="tipo_usuario">

        <ion-select-option value="Aprendiz">
          Aprendiz
        </ion-select-option>

        <ion-select-option value="Profissional">
          Profissional
        </ion-select-option>

      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Bio</ion-label>
      <ion-textarea
        [(ngModel)]="bio"
        name="bio">
      </ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label>Nível</ion-label>

      <ion-select
        [(ngModel)]="nivelExperiencia"
        name="nivelExperiencia">

        <ion-select-option value="Iniciante">
          Iniciante
        </ion-select-option>

        <ion-select-option value="Basico">
          Básico
        </ion-select-option>

        <ion-select-option value="Intermediario">
          Intermediário
        </ion-select-option>

        <ion-select-option value="Avancado">
          Avançado
        </ion-select-option>

      </ion-select>
    </ion-item>

    <ion-button
      expand="block"
      type="submit"
      class="ion-margin-top">

      Cadastrar

    </ion-button>

  </form>

</ion-content>
