
ion-content {
  --background: #0f172a;
}

ion-toolbar {
  --background: #1e293b;
  --color: white;
}

ion-title {
  font-weight: 700;
}

ion-card {

  background: #111827;

  color: white;

  margin: 16px;

  border-radius: 18px;

  box-shadow:
    0 4px 16px rgba(0, 0, 0, .25);

}

ion-card-title {

  color: white;

  font-size: 20px;

  font-weight: 700;

}

ion-card-subtitle {

  color: #818cf8;

  font-weight: 600;

}

ion-card-content p {

  color: #cbd5e1;

  margin-bottom: 10px;

}

ion-button {

  margin: 10px;

  --border-radius: 12px;

  font-weight: 600;

}

.criar-btn {

  --background: #6366f1;

  margin: 16px;

}

.status {

  display: inline-block;

  padding: 6px 12px;

  border-radius: 20px;

  font-size: 13px;

  font-weight: 600;

  background: #1e293b;

  color: #22c55e;

}

.footer-nav {

  --background: #111827;

}

.footer-nav ion-button {

  --color: white;

  font-size: 13px;

}

.btn-container {
  padding: 16px;
  position: relative;
  z-index: 10;
}
