<ion-header>
  <ion-toolbar>
    <ion-title>Tarefas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button
    *ngIf="tipoUsuario === 'Profissional'"
  (click)="criarTarefa()">
  Criar Tarefa
</ion-button>
  <ion-card *ngFor="let tarefa of tarefas">

    <ion-card-header>

      <ion-card-title>
        {{ tarefa.titulo }}
      </ion-card-title>

      <ion-card-subtitle>
        {{ tarefa.categoria }}
      </ion-card-subtitle>

    </ion-card-header>

    <ion-card-content>

      <p>{{ tarefa.descricao }}</p>

      <p>
        Dificuldade:
        {{ tarefa.nivelDificuldade }}
      </p>

      <p>
        Status:
        {{ tarefa.status }}
      </p>

    </ion-card-content>
   
    <ion-button
    *ngIf="
    tipoUsuario === 'Aprendiz' &&
    tarefa.status === 'aberta' "
  expand="block"
  color="success"
  (click)="assumirTarefa(tarefa)">

  Assumir Tarefa

</ion-button>
  </ion-card>
<ion-footer>

  <ion-toolbar>

    <ion-buttons slot="start">

      <ion-button routerLink="/home">
        Home
      </ion-button>

      <ion-button routerLink="/minhas-tarefas">
        Tarefas
      </ion-button>

      <ion-button routerLink="/ranking">
        Ranking
      </ion-button>

    </ion-buttons>

  </ion-toolbar>

</ion-footer>
</ion-content>