<ion-header>
  <ion-toolbar>
    <ion-title>Tarefas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  
  <div class="btn-container">
  <ion-button
    class="criar-btn"
    *ngIf="tipoUsuario === 'Profissional'"
    expand="block"
    (click)="criarTarefa()"
  >
    + Criar Tarefa
  </ion-button>
</div>
  <ion-card *ngFor="let tarefa of tarefas">

    <ion-card-header>

      <ion-card-title>
        {{ tarefa.titulo }}
      </ion-card-title>

      <ion-card-subtitle>
        {{ tarefa.categoria }}
      </ion-card-subtitle>

    </ion-card-header>

    <ion-card-content>

      <p>{{ tarefa.descricao }}</p>

      <p>
        Dificuldade:
        {{ tarefa.nivelDificuldade }}
      </p>

      <p>

        Status:

        <span class="status">

          {{ tarefa.status }}

        </span>

      </p>

    </ion-card-content>

    <ion-button *ngIf="
    tipoUsuario === 'Aprendiz' &&
    tarefa.status === 'aberta' " expand="block" color="success" (click)="assumirTarefa(tarefa)">

      Assumir Tarefa

    </ion-button>
  </ion-card>

</ion-content>
