<ion-item>
  <ion-input
    placeholder="Título"
    [(ngModel)]="titulo">
  </ion-input>
</ion-item>

<ion-item>
  
  <ion-textarea
    placeholder="Descrição"
    [(ngModel)]="descricao">
  </ion-textarea>
</ion-item>

<ion-item>
  <ion-label>Categoria</ion-label>

  <ion-select [(ngModel)]="categoria">

    <ion-select-option value="Frontend">
      Frontend
    </ion-select-option>

    <ion-select-option value="Backend">
      Backend
    </ion-select-option>

    <ion-select-option value="Mobile">
      Mobile
    </ion-select-option>

    <ion-select-option value="Banco de Dados">
      Banco de Dados
    </ion-select-option>

    <ion-select-option value="UI/UX">
      UI/UX
    </ion-select-option>

    <ion-select-option value="Full Stack">
      Full Stack
    </ion-select-option>

  </ion-select>
</ion-item>

<ion-item>
  <ion-label>Nível de Dificuldade</ion-label>

  <ion-select [(ngModel)]="nivelDificuldade">

    <ion-select-option value="Facil">
      Fácil
    </ion-select-option>

    <ion-select-option value="Medio">
      Médio
    </ion-select-option>

    <ion-select-option value="Dificil">
      Difícil
    </ion-select-option>

  </ion-select>
</ion-item>

<ion-button
  expand="block"
  (click)="criarTarefa()">

  Criar Tarefa

</ion-button>