<ion-content>

  <ion-toolbar>
    <ion-title>Criar Tarefa</ion-title>
  </ion-toolbar>

  <div class="btn-container">
    <ion-button fill="clear" (click)="voltar()">
      ← Voltar
    </ion-button>
  </div>

  <ion-card>

    <ion-card-content>

      <ion-card-title>Criar nova tarefa</ion-card-title>
      <ion-card-subtitle>Preencha os dados abaixo</ion-card-subtitle>

      <!-- Título -->
      <ion-item lines="none">
        <ion-input
          placeholder="Título"
          [(ngModel)]="titulo">
        </ion-input>
      </ion-item>

      <!-- Descrição -->
      <ion-item lines="none">
        <ion-textarea
          placeholder="Descrição"
          [(ngModel)]="descricao"
          autoGrow="true">
        </ion-textarea>
      </ion-item>

      <!-- Categoria -->
      <ion-item lines="none">
        <ion-label>Categoria</ion-label>
        <ion-select [(ngModel)]="categoria">
          <ion-select-option value="Frontend">Frontend</ion-select-option>
          <ion-select-option value="Backend">Backend</ion-select-option>
          <ion-select-option value="Mobile">Mobile</ion-select-option>
          <ion-select-option value="Banco de Dados">Banco de Dados</ion-select-option>
          <ion-select-option value="UI/UX">UI/UX</ion-select-option>
          <ion-select-option value="Full Stack">Full Stack</ion-select-option>
        </ion-select>
      </ion-item>

      <!-- Dificuldade -->
      <ion-item lines="none">
        <ion-label>Dificuldade</ion-label>
        <ion-select [(ngModel)]="nivelDificuldade">
          <ion-select-option value="Facil">Fácil</ion-select-option>
          <ion-select-option value="Medio">Médio</ion-select-option>
          <ion-select-option value="Dificil">Difícil</ion-select-option>
        </ion-select>
      </ion-item>

      <!-- Botão -->
      <ion-button
        expand="block"
        class="criar-btn"
        (click)="criarTarefa()">

        Criar Tarefa

      </ion-button>

    </ion-card-content>

  </ion-card>

</ion-content>
